

core-site-xml=/home/jnomics/jnomics-manager-test/conf/core-site.xml
mapred-site-xml=/home/jnomics/jnomics-manager-test/conf/mapred-site.xml
hdfs-site-xml=/home/jnomics/jnomics-manager-test/conf/hdfs-site.xml
hdfs-default-name=hdfs://node004:8020
mapreduce-jobtracker-host=node004

hdfs-index-repo=hdfs://node004:8020/share
grid-script-path=/home/jnomics/jnomics-manager-test/bin/GridJobLauncher.sh
grid-job-slots=8
jnomics-jar-path=/home/jnomics/jnomics-manager-test/lib/jnomics-0.4.jar
shock-url=https://kbase.us/services/shock-api/
compute-server-port=10000
data-server-port=10001
compute-server-host=variation.services.kbase.us
data-server-host=variation.services.kbase.us
